## PVE settings
SOURCEHOST='some IP' 			# IP from Proxmox VE System to be backuped and replicated daily
SOURCEHOSTNAME='some Hostname' 		# Hostname of Proxmox VE System to be backuped and replicated daily

## ZFS Settings
ZFSROOT='rpool-hdd/data' 		# First Dataset/Datastoresourcepath from Proxmox VE System to be backuped and replicated daily
ZFSSECOND='' 				# Optional second Dataset
ZFSTRGT='rpool-hdd/202' 		# This pulling Machines Target ZFS Sourcepath
ZPOOLSRC=rpool-hdd 			# First Pool/Tank from Proxmox VE System to be backuped and replicated daily                                                                                                                                                 
ZPOOLDST=rpool-hdd 			# This pulling Machines Pool/Tank                                                                                                                                                                                                   
ZPUSHTAG=bashclub:zsync-198-hdd                                                                                                                                                                                                                                              
ZPUSHMINKEEP=3                                                                                                                                                                                                                                                               
ZPUSHKEEP=14                                                                                                                                                                                                                                                                 
ZPUSHLABEL=zsync-rz                                                                                                                                                                                                                                                          
ZPUSHFILTER="" 				# zpushlabel kommt automatisch mit 

## PBS settings
PBSHOST='192.168.50.199' 		# IP from your Proxmox Backupserver                                                                                                                                                                                             
BACKUPSTORE=backup 			# Datastorename configured in your  Proxmox VE System to be backuped and replicated daily                                           
BACKUPSTOREPBS=backup 			# Datastorename configured in your Proxmox Backup Server                                                                                                                                                                         
BACKUPEXCLUDE='99999' 			# Machines to be excluded from Proxmox Backup, must not be empty!                                                                                                                                                                
REPLEXCLUDE=$BACKUPEXCLUDE                                                                                                                                                                                                                                                   
PRUNEJOB=$(ssh $PBSHOST proxmox-backup-manager prune-job list --output-format json-pretty | grep -m 1 "id" | cut -d'"' -f4)                                                                                                                                                  
                                                                                                                                                                                                                                                                               
SSHPORT='22' 				# SSH Port, usually default 22 internally                                                                                                                                                                                      

## Day for Maintenance Tasks
MAINTDAY=0 				# Day of the Week 1=Monday / 7=Sunday / 0=every Day
EMAIL='some Email Address'      	# enter your Email for a nice Report
NOTIFICATION=always             	# always or on error
